/* fonte para o site */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');

/* fonte para a logo */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab:wght@400;500;600&display=swap');

/* logo 2prt */
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto Slab', serif;
}

.header1 {
    width: 90%;
    height: 700px;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fraselogo {
    position: absolute;
    font-family: 'Lobster', cursive;
    font-size: 107%;
    color: aliceblue;
    margin-bottom: 46.5%;
    margin-right: 65%;
    text-shadow: 10px 0px 10px black;
}

.fraselogo h1 {
    font-weight: 500;

}

.navbar {
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    width: 74px;
    transform: rotate(12deg);
    margin-top: -1.5%;
    margin-left: -3%;

}


span {
    font-weight: 10;
    font-family: 'Nixie One', cursive;
    margin: 2.5px;
}


.content {
    text-align: center;

}

.content h1 {
    font-size: 360%;
    font-family: 'Roboto Slab', serif;
    color: aliceblue;
    font-weight: 600;
    margin-top: -35%;
    text-shadow: 0px 8px 20px black;

}


.content a {
    text-decoration: none;
    display: inline-block;
    color: antiquewhite;
    font-size: 30px;
    border: 2px solid white;
    padding: 15px 60px;
    border-radius: 50px;
    margin-top: 20px;
    transition: all 0.8s;
}

.content a:hover
{
        background: rgb(255, 208, 1);
        opacity: calc(0.9);
}


.imagem {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;


}

.header2 {
    background-color: #0C2738;
    padding: 1%;
    width: 98%;
    height: 90px;
    border-bottom: solid yellow 2px;
    border-top:solid #05151f 1px; ;

}



ul {
    margin: 10px;
    display: flex;
    margin-top: 3%;
    margin-left: 72%;
    text-shadow: 10px black;
    justify-content: space-between;
    width: 350px;
    color: aliceblue;
    list-style: none;
    font-family: 'Roboto Slab', serif;
    text-shadow: 8px 0px 13px black;
    font-weight: 500;
}

.header2 li a {
    color: aliceblue;
    text-decoration: none;
}

.header2 li {
    font-size: 120%;
    margin: 10px;
    display: flex;
    transition: all 0.3s;
}

.header2 li:hover {
    border-bottom: solid yellow 2px;

}



.fraselogo2 {
    font-family: 'Lobster', cursive;
    font-size: 105%;
    margin-top: 2%;
    margin-left: 12%;
    color: aliceblue;
    text-shadow: 10px 0px 10px black;
}

.navbar2 {
    width: 80%;
    position: relative;
    top: 0;
    left: 0;
    margin-top: -7%;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foto .logo2 {
    position: absolute;
    width: 80px;
    transform: rotate(12deg);
    margin-left: 6.5%;
    margin-top: -4.8%;

}

.banner {
    padding: 5%;
    height: 800px;
    background-color: #05151f;
    /* height: 000000%; */
}



video {
    margin-top: -2%;
    margin-left: -3%;
    width: 55%;
    border-radius: 5%;
    height: 47%;
    transition: all 0.3s;
}


video:hover{
    box-shadow: 0px 0px 20px 9px white;
}
video:focus{
    box-shadow: 0px 0px 20px 9px rgb(255, 255, 255);
}

.banner h2 {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 200%;
    font-weight: 300;
    z-index: 2;
    text-align: start;
}

.textoExperiencia {
    position: absolute;
    border-radius: 3%;
    margin-left: 50%;
    margin-top: -28%;
    padding: 8%;
    width: 25%;
    box-shadow: 0px 0px 0px 2px white;
    
}

.textoInspiracao h2{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 210%;
    font-weight: 300;
    text-align: center;
    
}

.textoInspiracao{
    position: absolute;
    border-radius: 3%;
    margin-left: -2%;
    margin-top: 5%;
    padding: 6%;
    height: 205px;
    width: 28%;
    box-shadow: 0px 0px 0px 2px white;
}

.galeria {
    margin-left: 48%;
    border-radius: 5%;
    margin-top: 6%;
    width:640px;
    height: 360px;
    background-color: #081B27;
    overflow: hidden; 
    transition: all 0.3s;
    box-shadow: 0px 0px 20px 9px white;
    
}

.galeria .fotos{
    width: 590%;
    animation-name: animaçao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}

.galeria .fotos img{
    width: 19.9%;
}

@keyframes animaçao {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -117%;}
    45% {margin-left: -117%;}
    50% {margin-left: -230%;}
    70% {margin-left: -230%;}
    75% {margin-left: -345%;}
    95% {margin-left: -345%;}
    100% {margin-left: -345%;}
}

.footer{
    background-color: #0C2738;
    border-top: solid  yellow 2px ;
    padding: 1%;
    width: 1005;
}
.contato h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 250%;
    font-weight: 300;
}

.contato, .Informaçoes{
    color: white;
}

.contato{
    width: 10%;
    margin-left: 42%;
    display: flex;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    /* background-color: yellow;  */
    flex-direction: column;
}

.contato ul{
    margin-left: -25%;
    margin-top: -5%;
    width: 20%;
    }

.contato li{
    display: flex;
    justify-content: space-evenly;
}

h5{
    width: 28%;
    margin-left: 36%;
    color: white;
}

.Informaçoes{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin-left: 30%;
    margin-top: -7%;
    /* background-color: yellow; */
}

.Informaçoes li  {
    margin-left: 8%;
    list-style: none;
    text-decoration: none;
    color: white;
}

.Informaçoes a{
    color: white;
    text-decoration: none;
}
