/* fonte para o site */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');

/* fonte para a logo */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab:wght@400;500;600&display=swap');

/* logo 2prt */
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto Slab', serif;
}

.header2 {
    position: fixed;
    background-color: #0C2738;
    padding: 1%;
    width: 98%;
    height: 90px;
    border-bottom: solid yellow 2px;
    border-top:solid #05151f 1px; ;

}



ul {
    
    
    margin: 10px;
    display: flex;
    margin-top: 3%;
    margin-left: 72%;
    text-shadow: 10px black;
    justify-content: space-between;
    width: 350px;
    color: aliceblue;
    list-style: none;
    font-family: 'Roboto Slab', serif;
    text-shadow: 8px 0px 13px black;
    font-weight: 500;
}

.header2 li a {
    color: aliceblue;
    text-decoration: none;
}

.header2 li {
    font-size: 120%;
    margin: 10px;
    display: flex;
    transition: all 0.3s;
}

.header2 li:hover {
    border-bottom: solid yellow 2px;

}



.fraselogo2 {
    font-family: 'Lobster', cursive;
    font-size: 105%;
    margin-top: 2%;
    margin-left: 12%;
    color: aliceblue;
    text-shadow: 10px 0px 10px black;
}

.navbar2 {
    width: 80%;
    position: relative;
    top: 0;
    left: 0;
    margin-top: -7%;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foto .logo2 {
    position: absolute;
    width: 80px;
    transform: rotate(12deg);
    margin-left: 6.5%;
    margin-top: -4.8%;

}


.banner {
    padding: 1%;
    height: 590px;
    /* background-color: #05151f; */
    background-image: url('./cadeiraedit.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    /* height: 600px; */
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    margin-top: -10%;
    
}
.TelaCinema{
   width: 130%;
   margin-top: 30%;
   margin-left: 2%; 
  

} 
.caixaInput{
    
    margin-top: -64.8%;
    margin-left: 1%;
    background-color: #F5E2C1;
    padding: 43px 0px;
    width: 81.5%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}



.caixaInput h2 {
    color: #F80014;
    margin-bottom: 1px;
    /* position: static; */
}

.campo{
    display: flex;
    flex-direction: column;
    margin-left: 0%;
}

.campo input{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #F80014;
    color: black;
}

.caixaInput button{
    margin-top: 4%;
    width: 30%;
    font-size: 110%;
    color: #e5e5e5;
    background-color: #F80014;
    padding: 20px 0px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 1s;
}

.campo label{
    color: #F80014;
    margin: 10px 0;
}





.caixaInput button:hover{
    box-shadow: 0px 0px 8px 7px black;
}






.footer{
    background-color: #0C2738;
    position: absolute;
    border-top: solid  yellow 2px ;
    padding: 1%;
    width: 98%;
}
.contato h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 250%;
    font-weight: 300;
}

.contato, .Informaçoes{
    color: white;
}

.contato{
    width: 10%;
    margin-left: 42%;
    display: flex;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    /* background-color: yellow;  */
    flex-direction: column;
}

.contato ul{
    margin-left: -25%;
    margin-top: -5%;
    width: 20%;
    }

.contato li{
    display: flex;
    justify-content: space-evenly;
}

h5{
    width: 28%;
    margin-left: 36%;
    color: white;
}

.Informaçoes{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin-left: 30%;
    margin-top: -7%;
    /* background-color: yellow; */
}

.Informaçoes li  {
    margin-left: 8%;
    list-style: none;
    text-decoration: none;
    color: white;
}

.Informaçoes a{
    color: white;
    text-decoration: none;
}
